@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #fafafa;
    
}

#title {
    margin: 0.5em 0;
  font-family: "JetBrainsMono", sans-serif;
  font-size: 6.5em;
  color: #22313F ;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: -0.05em 0 0 #F22613,  0.05em 0 0 #00FFFF;
}



/* button */
/* hover sur .btn */
.btn:hover {
    background-color: #000000;
    color: #fafafa;}
  .btn {
    /* center the button */
    
    text-align: center;
    display: flex;
    padding: 24px 84px;
    border-radius: 12px;
    font-size: 2rem;
    background: #22313F;
    color: white;
    justify-content: center;
    align-items: center;
   cursor: pointer;
    text-shadow: -0.02em 0 0 #F22613,  0.02em 0 0 #00FFFF;
  }



  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* tiles */
table {
    display: flex;
    justify-content:center;
}
th {
    border: 10px solid black;
    width: 100px;
    height:100px;
    padding: 15px;
    border-radius: 15px;
    
    background-size: 100%;
    background-color: #f1c40f;
    cursor: pointer;
    font-size: 50px;
    perspective: 1000px;
    transform: scale(1);
    transition: transform .5s;
}

.cardoff {
    transition: transform .5s;
    transform: rotateY(360deg);
    
}

table
{
    
    border-radius: 25px;
}


.tiles.flip {
    transform: rotateY(180deg);
  }

h1 {
    font-family: JetBrainsMono, sans-serif;
}

  /* xp bar */
  #xpbar {
    width: 100%;
    height: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;
  }


  .turned {
    background-size: 100%;
      background-image: url('../assets/potato-6.png');
  }

  .found {
    background-size: 100%;
      background-image: url('../assets/check.png')!important;
  }

  #secondTitle {
      position: relative;
      top: 400px;
    font-family: "JetBrainsMono", sans-serif;
    font-size: 2em;
    color: #22313F ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: -0.05em 0 0 #F22613,  0.05em 0 0 #00FFFF;
    }

    

    /* progress bar */
